@font-face {
    font-family: 'Broderbund Old Bold';
    src: url('Broderbund Old Bold.ttf');
  }
.Zene{
    text-align: center;
}
.divek{
width: 300px;
margin-left: 400px;
margin-bottom: 60px;
border: 2px solid green;
margin-top: 100px;
height: 200px;

}
.divek1{
    width: 300px;
    border: 2px solid green;
margin-right: 400px;
    float: right;
    margin-top: -265px;
    height: 200px;
}
.divek2{
   
    width: 300px;
    border: 2px solid green;  
margin-left: 400px;
margin-top: 60px;
height: 200px;
    
}
.divek3{
width: 300px;
border: 2px solid green;
margin-right: 400px;
float: right;
margin-top: -200px;
height: 200px;
}
body{
    background-color: darkblue;
}
.szöv{
    font-family: Broderbund Old Bold;
    font-size: large;
    color: green;
    margin-top: 150px;
    text-align: center;
    border: 3px solid black ;
    margin-left: 200px;
    margin-right: 200px;
}
.hip1{
height: 300px;
width: 300px;
float: left;
margin-right: 20px;
border: 2px green solid;
box-shadow: black 2px 2px 5px;
}
.hip2{
height: 300px;
width: 300px;
float: right;
margin-top: -300px;
border: 2px green solid;
box-shadow: black 2px 2px 5px;
}
.hip3{
height: 300px;
width: 300px;
margin-left: 500px;
margin-top: 100px;
border: 2px green solid;
box-shadow: black 2px 2px 5px;

}
.Hip{
    text-align: center;
}
.alszöv1{
    font-size: large;
    width: 1260px;
    margin-right: -100px;
    border: black solid 3px;
    margin-left: 310px;
    color: green;
    
}
.Rap{
    text-align: center;
}
.rap1{
float: left;
box-shadow: black 2px 2px 5px;
}
.rap2{
float: right;
margin-top: -580px;
box-shadow: black 2px 2px 5px;
}
.rap3{
margin-left: 750px;
margin-top: 100px ;
box-shadow: black 2px 2px 5px;
}
.alszöv2{
    font-size: large;
    color: green;
    border: black solid 3px;
    width: 1300px;
    margin-left: 280px;
}
.nle{
width: 500px; 
margin-left: 370px;  
box-shadow: black 2px 2px 5px; 
}
.reg{
    text-align: center;
}
.reg1{
float: left;
box-shadow: black 2px 2px 5px;
}
.reg2{
float: right;
margin-top: -300px;
box-shadow: black 2px 2px 5px;
}
.reg3{
    margin-left: 820px;
    margin-top: 100px;
    box-shadow: black 2px 2px 5px;

}
.alszöv3{
    margin-left: 320px;
    font-size: large;
    border: black solid 3px;
    color: green;
    margin-right: 210px;
}
.főlap{
    margin-top: 100px;
    text-align: center;
    font-size:xx-large;
    color: green;
    margin-left:-100px ;
    
}
.főlap1{
    margin-right: 250px;
    margin-top: 100px;
    text-align: center;
    font-size:xx-large;
    color: green;
    margin-left:-100px ;
}
.főlap2{
    margin-right: -100px;
    margin-top: 100px;
    text-align: center;
    font-size:xx-large;
    color: green;
    margin-left:-100px ;
}

.főlap3{
    margin-right: -100px;
    margin-top: 100px;
    text-align: center;
    font-size:xx-large;
    color: green;
    margin-left:-100px ;
}
a:visited{
    color:green
}
.rock{
text-align: center;
}
.rock1{
float: left;
box-shadow: black 2px 2px 5px;
}
.rock2{
float: right;
margin-top: -230px;
box-shadow: black 2px 2px 5px;
}
.rock3{
    margin-left: 800px;
    margin-top: 200px;
    box-shadow: black 2px 2px 5px;
}
.alszöv4{
    margin-left: 320px;
    font-size: large;
    border: black solid 3px;
    color: green;
    margin-right: 310px; 
}
.főlap4{
    
    margin-right: 300px;
    text-align: center;
    font-size:xx-large;
    color: green;
}
.link{
    text-align: center;
    color: green;
}
